.container-contactos {
  width: 100vw;
  height: 94vh;
  display: flex;
  flex-direction: row;
}

.left-side {
  width: 50%;
  border-top: 1px solid rgba(255, 255, 255, 0.502);
  height: 100%;
  background-color: #16203A;
  gap: 5vh;
  display: flex;
  flex-direction: column;
}

.right-side {
  width: 50%;
  height: 100%;
}

.left-side-content {
  margin: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid white;
  padding: 20px;
  border-radius: 5px;
}

.info {
  padding-top: 10%;
  margin: 0 10%;
  border-bottom: 1px solid white;
  padding-bottom: 5vh;
}

.telefone {
  display: flex;
  gap: 1vw;
  color: #97CDF0;
  align-items: center;
}

.number {
  color: #FFFF;
  font-size: 24px;
}

.form-contactos {
  margin: 0 10%;
}

.input-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.input-contactos {
  width: 100%;
  height: 3vh;
  border: none;
  background-color: rgb(32, 58, 128);
  font-size: 18px;
  color: aliceblue;
  padding: 20px;
}

.input-contactos:focus {
  outline: none;
}

.input-obs-cont {
  width: 100%;
  height: 10vh;
  border: none;
  background-color: rgb(32, 58, 128);
  font-size: 18px;
  color: aliceblue;
  padding: 10px;
}

.input-obs-cont:focus {
  outline: none;
}

.input100 {
  width: 49%;
}

.cont {
  border: none;
  background-color: #466dcf;
  width: 49.2%;
  height: 4vh;
  color: white;
  font-size: 16px;
  border-radius: 5px
}

.cont-limpar {
  border: none;
  background-color: #ffff;
  width: 49.5%;
  height: 4vh;
  color: black;
  font-size: 16px;
  border-radius: 5px
}

@media screen and (max-width: 768px) {
  .container-contactos {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    width: 100%;
    height: 50vh;
  }

  .right-side {
    width: 100%;
  }

  .loc-tele {
    width: 40vw;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #97CDF0;
    gap: 1vw;
  }

  .left-side-content {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    padding: 20px;
    border-radius: 5px;
  }

  .loc {
    width: 40vw;
    font-size: 26px;
  }

  .tele {
    width: 100%;
    font-size: 26px;
  }

  .loc-p {
    width: 40vw;
    font-size: 18px;
    width: 100%;
  }


}