.ParticularesPage {
  width: 100vw;
  height: 90vh;
  display: flex;
}

/* .ParticularesPageContent {
  height: vh;
} */

.EmpresasPageItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  gap: 5vw;
}

.contentPageParticular {
  height: 94vh;
  background-color: #16203A;
  border-top: 1px solid rgba(255, 255, 255, 0.325);
}

.particulareText {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
}

.ParticularesContentDescription {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;

}


@media screen and (max-width: 768px) {
  .EmpresasPageItem {
    gap: 15vw;
  }

}

@media screen and (max-width: 425px) {
  .ParticularesPage {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 500px;
  }

  .ParticularesContentTitle {
    width: 60vw;
  }


  .ParticularesContentDescription {
    font-size: 16px;
  }
}