.ParticularesPage {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.ParticularesPageContent {
  height: 90vh;
}

.EmpresasPageItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
  gap: 5vw;
}

.contentPageParticular {
  height: 94vh;
  background-color: #16203A;
  border-top: 1px solid rgba(255, 255, 255, 0.325);
}

.particulareText {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vh;
}

.ParticularesContentDescription {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;

}